/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*==========  General  ==========*/
html {
  font-family: 'Lato', sans-serif;
  background-color: #f9f9f9; }

body {
  margin: 0; }

p {
  font-family: 'Mukta Vaani', sans-serif; }

label {
  padding-top: 5px; }

hr.styled {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }

.btn, .main-content .generator-btn, .new-project-container button, .add-project-container button, .palettes-container .palette .project-title {
  width: auto;
  padding: 10px 16px;
  font-size: 14px;
  background-color: #bd1550;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all .1s ease; }
  .btn:hover, .main-content .generator-btn:hover, .new-project-container button:hover, .add-project-container button:hover, .palettes-container .palette .project-title:hover {
    background-color: #761338; }

.input, .new-project-container input, .add-project-container input {
  padding: 7px 16px;
  font-size: 1rem;
  margin: 0 1rem; }

/*==========  Header  ==========*/
header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, 0.1);
  background-color: #fff; }
  header img {
    padding: 1rem 0 1rem 2rem; }

/*==========  Main Content  ==========*/
.main-content {
  background-color: #f9f9f9;
  min-height: 100%;
  padding-top: 50px;
  margin: 9px 0 100px 0; }
  .main-content h2 {
    font-family: Lato, sans-serif;
    background-color: #fbfbfb;
    text-align: center;
    padding-bottom: 50px; }
  .main-content .generator-btn {
    margin: 40px auto;
    display: block;
    padding: 1rem 1.2rem;
    font-size: 1rem; }

.color-palette-container {
  display: flex;
  justify-content: center;
  padding: 40px 0; }
  .color-palette-container .card-container {
    border: 1px solid #b5b4b4;
    border-radius: 5px;
    margin: 0 1rem; }
    .color-palette-container .card-container .card {
      height: 200px;
      width: 200px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem; }
    .color-palette-container .card-container .card-bottom {
      color: #fff;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.6); }
    .color-palette-container .card-container img {
      margin: 10px auto;
      display: block; }
    .color-palette-container .card-container .lock-btn {
      background-color: #f9f9f9; }
    .color-palette-container .card-container button {
      width: 48px;
      height: 48px;
      border: none;
      margin: 10px auto;
      display: block;
      outline: none;
      background-image: url("../assets/lock-closed-48.png"); }
      .color-palette-container .card-container button.open {
        background-image: url("../assets/lock-open-48.png"); }

.new-project-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0; }
  .new-project-container label {
    font-size: 1.2rem; }

.add-project-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0; }
  .add-project-container label {
    font-size: 1.2rem; }
  .add-project-container select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    width: auto;
    margin: 0 0 0 1rem;
    font: inherit;
    outline: none;
    line-height: 1.2;
    background: #f9f9f9; }

.palettes-container {
  margin: 3rem; }
  .palettes-container .palette {
    width: auto;
    display: inline-block; }
    .palettes-container .palette .palette-title {
      margin: 2rem; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=styles.css.map */
