/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
@import '../node_modules/normalize.css/normalize.css';

/*==========  General  ==========*/

html {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Mukta Vaani', sans-serif;
}

hr.styled {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.btn {
  width: auto;
  padding: 10px 16px;
  font-size: 14px;
  height: fit-content;
  background-color: #bd1550;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  transition: all .1s ease;
}

/*==========  Header  ==========*/
header {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0, 64, 128, .1);
  img {
    padding: 1rem 0 1rem 2rem;
  }
  .generator-btn {
    @extend .btn;
    margin-right: 2rem;
  }
}

/*==========  Main Content  ==========*/

.main-content {
  background-color: #f9f9f9;
  height: 100vh;
  min-height: 100%;
  padding-top: 50px;
  margin-top: 9px;
  h2 {
    font-family: Lato, sans-serif;
    //background-color: #f9f9f9;
    background-color: #fbfbfb;
    text-align: center;
    padding-bottom: 50px;
  }
}

.color-palette-container {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  .card-container {
    border: 1px solid #b5b4b4;
    border-radius: 5px;
    margin: 0 1rem;
    .card {
      height: 200px;
      width: 200px;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.4rem;
    }
    .card-bottom {
      color: #fff;
      text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.6);
    }
    img {
      margin: 10px auto;
      display: block;
    }
    .lock-btn {
      background-color: #f9f9f9;
    }
    button {
      width: 48px;
      height: 48px;
      border: none;
      margin: 10px auto;
      display: block;
      background-image: url("../assets/lock-closed-48.png");
      &.open {
        background-image: url("../assets/lock-open-48.png");
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}